
element.style {
}
@media only screen and (max-width: 1132px)
p, li {
    font-size: 1.2em;
}
p {
    margin: 0.75em 0;
    line-height: 2;
}
* {
    background-color: blue;
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    /* box-sizing: border-box; */
}
header {
    background-color: rgba(128, 255, 0, 0.753);
    padding: 20px;
    border: 20px;
}
header h1 {
    background-color: chartreuse;
    margin:auto;
    padding: 20px;
}
header div ul {
    color: rgb(240, 26, 26);
    background-color: chartreuse;
    margin: auto;
    padding: 20px;
    list-style-type: none;
    text-align: end;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 70%;